body {
    font-family: 'Jaldi', sans-serif;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 15px;
}

a:link {
    text-decoration: none;
    font-size: 20px;
}

a, h4, p {
    color: white;
}

a {
    font-size: 23px;
}

h6 {
    display: inline;
    font-size: 16px;
}

.navbar {
    padding: 20px;
    background-color: #14164a;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.searchbox {
    border-radius: 15px;
    text-align: center;
    background-image: url("search_icon.jpg");
    background-repeat: no-repeat;
}

.under_navbar {
    background-color: #4a4446;
    padding: 10px;
}

.above_pics {
    background-color: #f8d937;
    padding: 15px;
    text-align: center;
}

.homepage_pics {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

h4 {
    font-size: 30px;
    text-shadow: 2px 2px #ccc;
}

.pic3 {
    text-align: left;
}

.pic3_text {
    position: absolute;
    top: 35%;
    left: 70%;
}

.below_pics {
    background-color: #14164a;
    opacity: 81%;
    text-align: center;
    padding: 15px;
}

h5 {
    font-size: 30px;
    color: #f8d937;
}

.staff_login {
    text-align: right;
}
